@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

.aboutitem1{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}
.aboutsubhead{
   color:black;
   font-size:26px;
   line-height: 2 ;
   padding: 40px;
   font-family: 'Poiret One';
}
.aboutdescription{
    text-align: justify;
    line-height: 30px;
    font-size: 16px;
    color: rgb(46, 46, 46);
    font-style: bold;
}
.aboutitem3{
    font-size: 20px;
    width:40%;
}

.abouthead{
    font-size: 22px;
    color: red;
}