body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif ;
    background-color: #e1f8fc;
}

.home-container{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.welcome-txt{
    color:rgba(255, 0, 0, 0.756);
    font-size: 30px;
}

.username{
    text-align: center;
    font-weight: bold;
    color: rgba(255, 0, 0, 0.86);
    font-size: 30px;
}

.title{
    color: rgb(16, 16, 16);
}

a{
    text-decoration: none;
    color: rgb(31, 29, 29);
}

.splbtn{
    border: 2px solid rgb(228, 17, 55);
    border-radius: 10px;
    background-color: #fefefe;
    box-shadow: 1px 1px 1px 1px #c2c2c2;
}


.itemsspl{
    padding: 1.1rem;
    color: rgb(28, 26, 26);
    font-weight: bold;
    border-radius: 10px;
    margin-left: 8px;
    margin-right: 8px;
}


.splbtn:hover{
    background-color: tomato;
}

p{
    color: red;
}

.center-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;   
}


.centerText{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;   
}

.centerbtn{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;   
}

.maintext{
    font-size: 30px;
    margin-bottom: 50px;
}

.spl1{
    margin-left: 10px;
    margin-right: 60px;
}

.li2:hover{
    color: white;
}

.centerImage{
    filter: drop-shadow(7px 7px 7px #3b3b3b);
    -webkit-filter: drop-shadow(7px 7px 7px #3b3b3b);
    width:35%;
}

