body::-webkit-scrollbar{
    display: none;
}

.servicehole1{
    padding-bottom: 50px;
}

.serviceimages{
    display: flex;
    flex-wrap: wrap;
}
.serviceimages h1{
    color: black;
}
.serviceimages p{
    color: red;
}
span{
    color: #f3701d;
    font-size: 30px;
    margin-top: -7px;
}
a{
    text-decoration: none;
    list-style-type: none;
    display: flex;
}
a:link{
    color:blue;
}
a:hover{
    color: orangered;
}
.serviceimages p{
    text-align: justify;
}
.serviceimg{
    width: 330px;
    margin: 20px;
    padding: 20px;
    margin-left: 80px;
    text-align: center;
}
