body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif ;
    background-color: #e1f8fc;
}

.container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;   
    padding-top: 1rem;
    margin-right: 10px;
    margin-bottom: 30px;
}

.logo{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.navbar{
    display: flex;
    flex-flow: row wrap;
    justify-content:space-between;
    align-items: center;
}

.title{
    color: rgb(16, 16, 16);
}

.items{
    padding: 1.1rem;
    list-style-type: none;
    color: rgb(28, 26, 26);
    font-weight: bold;
    border-radius: 10px;
}

a{
    text-decoration: none;
    color: rgb(31, 29, 29);
}

.items:hover{
    background-color: lightgrey;
}

.it{
    display: flex;
    flex-flow: row wrap;
    justify-content:space-around;
    padding-left: 50px;
    padding-right: 50px;
}


.signin{
    border: 2px solid rgb(228, 17, 55);
    border-radius: 10px;
    background-color: #fefefe;
    box-shadow: 1px 1px 1px 1px #c2c2c2;
}

.signin:hover{
    background-color: tomato;
}

p{
    color: red;
}

.centerContainer{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;   
}


.centerText{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;   
}

.centerbtn{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;   
}

.maintext{
    font-size: 30px;
    margin-bottom: 50px;
}

.spl1{
    margin-left: 10px;
    margin-right: 60px;
}

.li:hover{
    color: white;
}

.centerImage{
    filter: drop-shadow(7px 7px 7px #3b3b3b);
    -webkit-filter: drop-shadow(7px 7px 7px #3b3b3b);
    width:35%;
}

